@charset "UTF-8";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  letter-spacing: 1px;
}
input, button, select, textarea {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
}
a {
  color: #858585;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .wstdCompanyDiv {
    display: none;
  }
}
.wstdCompanyDropdown {
  display: none;
}
@media (max-width: 979px) {
  .wstdCompanyDropdown {
    display: block;
  }
}

.wstdCompanyDiv {
  background-color: #0068b7;
}
.wstdCompanyDiv > div > div > a.brand,
.wstdCompanyDiv > div > .nav > li > a
{
  padding-top: 6px;
  padding-bottom: 6px;
  color: #f8f8ff;
  text-shadow: none;
}
.wstdCompanyDiv > div > div > a.brand {
  font-size: 13px;
}
.wstdCompanyDiv > div > .nav > li > a:hover,
.wstdCompanyDiv > div > div > a.brand:hover
{
  color: #ff9;
}
.wstdCompanyDiv > div > .dropdown > ul.dropdown-menu {
  margin-top: 29px;
}



.navbar-inner.neoyataiNavbarInner {
  background-color: #ff5c16;
  background-image: none;
  border-color: transparent;
}
.navbar-inner.neoyataiNavbarInner .nav-collapse {
  float: right;
  margin-right: -5px;
}
@media (max-width: 979px) {
  .navbar-inner.neoyataiNavbarInner .nav-collapse {
    float: none;
  }
}
.navbar-inner.neoyataiNavbarInner .brand {
  box-sizing: border-box;
  width: 220px;
  height: 50px;
  background: url(../images/neoyatai.png) no-repeat 0 0;
  overflow: hidden;
  text-indent: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  white-space: nowrap;
}
.navbar-inner.neoyataiNavbarInner .brand:hover {
  background: url(../images/neoyatai.png) no-repeat 0 -50px;
}
.navbar-inner.neoyataiNavbarInner .nav > li > a {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
  text-shadow: none;
  font-size: 14px;
  line-height: 20px;
}
.navbar-inner.neoyataiNavbarInner .nav > li > a:hover {
  color: #ff9;
}

.navbar-inner.neoyataiNavbarInner .btn {
  margin-top: 13px;
}

.navbar .neoyataiNavbarInner .btn-navbar:hover,
.navbar .neoyataiNavbarInner .btn-navbar:focus,
.navbar .neoyataiNavbarInner .btn-navbar:active,
.navbar .neoyataiNavbarInner .btn-navbar.active,
.navbar .neoyataiNavbarInner .btn-navbar.disabled,
.navbar .neoyataiNavbarInner .btn-navbar[disabled],
.navbar .neoyataiNavbarInner .nav li.dropdown.open > .dropdown-toggle,
.navbar .neoyataiNavbarInner .nav li.dropdown.active > .dropdown-toggle,
.navbar .neoyataiNavbarInner .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #ea5514;
}

#test-header {
  background: url(../images/IMGP2280_mini_ts.JPG) no-repeat center left;
  background-size: 100%;
  color: white;
}

.archiveCell {
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding: 9.5px 11px;
  margin-bottom: 30px;
  cursor: pointer;
}
.archiveCell:hover {
  background-color: #fffacd;
}
.archiveCell a {
  color: #2f4f4f;
  text-decoration: none;
}
.archiveCell h4 {
  margin-top: 0;
}




/*********************************************************
 * bootstrap tab + lazyload ... スクロール可能な高さが必要...
 *********************************************************/
.lazy {
  display: none;
} /*
.tab-pane {
  min-height: 610px;
}
*/



.neoyataiFooter > ul {
  list-style: none;
  margin-left: 0;
}
.neoyataiFooter > ul > li {
  float: left;
}




.nytTimeCell time > span {
  padding: 10px 0;
  font-weight: bold;
}
@media (min-width: 980px) {
  .nytTimeCell time > span {
    display: inline-block;
    float: left;
    text-align: right;
  }
  .nytTimeY {
    width: 50%;
    color: #999;
  }
  .nytTimeM {
    width: 20%;
    font-size: 18px;
  }
  .nytTimeD {
    width: 20%;
    font-size: 14px;
    color: #999;
  }
  .nytTimeDD {
    width: 10%;
    color: #999;
  }
}
.dateHead {
  padding-top: 80px;
}
.nytTimeLine {
  margin-top: -80px;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  z-index: 1000;
}
#backToTop > a {
  background-color: #0068b7;
  color: #fff;
  padding: 7px 12px;
  text-decoration: none;
  border-radius: 3px;
}
#backToTop > a:hover {
  background-color: #ff5c16;
}

#map {
  width: 100%;
  height: 100%;
}
#map img {
  max-width: none;
}

.headerWrapper {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 28.5px;
  color: inherit;
}
.headerWrapper h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}
.headerWrapper li {
  line-height: 28.5px;
}
@media (min-width: 980px) {
  .headerWrapper {
    padding: 60px 0;
    background-color: #eeeeee;
  }
}